:roots{
    --color:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
border: solid green;
}
